# Dataset Generation

In [1]:
from skmultiflow.data import SEAGenerator 
from skmultiflow.data import HyperplaneGenerator
from skmultiflow.data import RandomRBFGeneratorDrift
import numpy as np
import pandas as pd
import os
os.chdir("..")
print(os.getcwd())

/work/lurny/files/Thesis

## SEA

In [7]:
stream = SEAGenerator(balance_classes = True, noise_percentage=0.1)

In [8]:
stream.get_data_info()

'SEA Generator - 1 target(s), 2 classes, 3 features'

In [9]:
stream_data = np.empty((0, 4), float)
for i in range(4):
    temp = stream.next_sample(50000)
    stream.generate_drift()
    stacked_data = np.column_stack((temp[0],temp[1]))
    print(stacked_data.shape)
    stream_data = np.concatenate((stream_data, stacked_data), axis=0)
stream_data = pd.DataFrame(stacked_data)

(50000, 4)
(50000, 4)
(50000, 4)
(50000, 4)

## Rotating Hyperplane

In [10]:
stream = HyperplaneGenerator(mag_change=0.001)

In [11]:
temp = stream.next_sample(100000)
stacked_data = np.column_stack((temp[0],temp[1]))
print(stacked_data.shape)
stream_data = pd.DataFrame(stacked_data)

(100000, 11)

## RBF_f

In [4]:
stream = RandomRBFGeneratorDrift(change_speed = 0.001)

In [5]:
temp = stream.next_sample(100000)
stacked_data = np.column_stack((temp[0],temp[1]))
print(stacked_data.shape)
stream_data = pd.DataFrame(stacked_data)

(100000, 11)

## RBF_m

In [12]:
stream = RandomRBFGeneratorDrift(change_speed = 0.0001)

In [13]:
temp = stream.next_sample(100000)
stacked_data = np.column_stack((temp[0],temp[1]))
stream_data = pd.DataFrame(data = stacked_data, columns = feature_names)

In [17]:
        feature_names = [
                        'att1', #numeric
                        'att2', #numeric
                        'att3', #numeric
                        'att4', #numeric
                        'att5', #numeric
                        'att6', #numeric
                        'att7', #numeric     
                        'att8', #numeric
                        'att9', #numeric
                        'att10',#numeric
                        'class' #binary
                        ]

In [18]:
print(stacked_data.shape)
stream_data = pd.DataFrame(data = stacked_data, columns = feature_names)

(100000, 11)

In [19]:
stream_data

,att1,att2,att3,att4,att5,att6,att7,att8,att9,att10,class
0,0.102034,0.125037,0.330736,0.676068,0.690732,1.028711,0.007201,0.880675,0.586631,0.513293,1.0
1,0.026614,0.294295,0.748924,0.775261,0.439698,0.696872,0.194037,0.298757,0.734836,0.213612,1.0
2,0.012436,0.151828,0.828925,0.342377,0.364233,0.696864,0.436807,0.911667,0.342359,0.945970,0.0
3,0.091978,0.486855,0.243973,-0.018772,0.000432,0.919713,0.620657,0.789065,0.595477,0.148059,0.0
4,0.377079,1.045837,0.504851,0.473854,0.698541,1.105675,0.590981,0.477478,-0.055097,0.460484,0.0
...,...,...,...,...,...,...,...,...,...,...,...
99995,0.925736,0.579611,0.627123,0.378866,0.090409,0.766725,0.793967,0.123864,0.415865,0.414703,1.0
99996,0.857149,0.952585,0.418621,0.242639,0.803960,0.139686,0.523829,0.103295,1.134717,1.016213,1.0
99997,0.916408,0.587606,0.613717,0.384635,0.105559,0.761105,0.785614,0.103218,0.442804,0.402356,1.0
99998,0.957973,1.045931,0.808402,0.647012,0.254242,0.718754,0.382947,0.241266,0.654975,0.480730,0.0
99999,0.448276,0.678878,0.281235,0.536691,0.105950,0.857912,0.646440,0.972731,0.622515,0.099078,0.0